<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://cdn.plot.ly/plotly-2.3.1.min.js'></script>

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

.w3-bar .w3-button {
  padding: 16px;
}

</style>
<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="main_home" class="w3-bar-item w3-button w3-wide"><i class="fa fa-arrow-left w3-margin-middle"></i>MAIN</a>
    <!-- Middle-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="#information" class="w3-bar-item w3-button"><i class="fa fa-users fa-fw"></i> Information</a>
      <a href="#bar" class="w3-bar-item w3-button"><i class="fa fa-bar-chart fa-fw"></i> Bar graph</a>
      <a href="#pie" class="w3-bar-item w3-button"><i class="fa fa-pie-chart fa-fw"></i> Pie graph</a>
      <a href="#wc" class="w3-bar-item w3-button"><i class="fa fa-cloud fa-fw"></i> Word Cloud</a>
    </div>
    </a>
  </div>
</div>

<!-- Overview part.1 -->
<header class="w3-container" style="padding-top:5%">
<!-- Text explanation -->
  <div class="w3-container" id="information" >
    <div class="w3-row w3-padding-16">
      <div class="w3-container">
        <h2 class="w3-text-blue-gray"><b>Information</b></h2>
        <p>Funding Manager는 크라우드 펀딩 사이트 내 커뮤니티 글이 펀딩 성공에 미치는 영향을 분석하기 위해 와디즈에 게시된 프로젝트의 커뮤니티글을 감성 분석하였습니다.</p>
        <p>본 서비스를 통해 사용자는 진행하고자 하는 프로젝트의 긍정·부정과 같은 리뷰어들의 반응을 시각화한 자료를 확인 할 수 있으며 관련 분석 자료를 제공받습니다.</p>
        <p>이를 통해 후원자들의 긍정·부정 반응을 도출하여 프로젝트의 성공확률을 높일수있을것이라고 기대합니다.</p>
        <p></p>
        <p>다음은 와디즈 프로젝트 내 리뷰를 감성분석하여 나타낸 시각화 자료이며 맨 위부터 카테고리별 별점 분포 그래프, 긍정·부정 파이 그래프, 긍정·부정 워드클라우드 순서 입니다.<p>
<!-- Overview part.2 -->
<div class="w3-container" style="padding:64px 16px" id="bar">
    <h2 class="w3-text-blue-gray"><b>푸드 별점 분포 (Bar graph)</b></h2>
      <div id='bar_chart_food' style="width:90%"></div>
        <script>
        var data = [{
          type: "bar",
          x: {{ x_food | safe }},
          y: {{ y_food | safe }},
        }];
        var layout = {
          title: '리뷰의 별점 분포',
          height: 500,
          width: 500
        };
        Plotly.newPlot('bar_chart_food', data, layout);
        </script>
      </div>
<!-- Overview part.3 -->
<div class="w3-container" style="padding:64px 16px" id="pie">
  <h2 class="w3-text-blue-gray"><b>푸드 긍정,부정 %(Pie graph)</b></h2>
    <div id='pie_chart_food' style="width:90%"></div>
        <script>
        var data = [{
          type: "pie",
          labels: {{ labels_food | safe }},
          values: {{ values_food | safe }},
        }];

        var layout = {
          title: '리뷰의 긍정 및 부정 반응',
          height: 500,
          width: 500
        };
        Plotly.newPlot('pie_chart_food', data, layout);
         </script>
    </div>
<!-- Overview part.4 -->
    <div class="w3-container" style="padding:32px 16px" id="wc">
      <h2 class="w3-text-blue-gray"><b>푸드 긍정,부정(Word Cloud)</b></h2>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-grey w3-padding-64">
  <a href="#bar" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

<script>

// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>
</body>
</html>