<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  background-image: url("/static/img/FundingManager_logo.png");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

select {
  appearance: none; -webkit-appearance: none; -moz-appearance: none;
  width:19vw; height:auto; font-size:1.5vw;
  border:1px solid #ccc; color: black;
  no-repeat 95% 50%; border-radius:4px;
  }
select::-ms-expand {display: none;}

.w3-black, .w3-hover-black:hover {
  color: #fff!important; background-color: #1b1a1aa3 !important; border-radius:4px;
}
form { display: inline;}

.button {
  border-radius: 4px;
  color: white;
  padding: 10px;
  display: inline-block;
  font-size: 1.5vw;
  cursor: pointer;
}
.button1 {
  background-color: #bdbebd;
  border:0;
  outline:0;
  width:4vw;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide">MAIN</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
      <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i> TEAM</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
  <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
</nav>

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container" id="home">
  <div class="w3-display-bottommiddle w3-text-white" style="padding:48px">
    <form name="search" method="GET">
        <div class="w3-input-group w3-hover-opacity-off " style="display:inline-flex; flex-direction: row;">
            <select name="category" onchange="if(this.value) location.href=(this.value);" style="padding: 1px 20px! important;">
              <option value="" disabled selected hidden>Choose Category</option>
              <option value="total">전체 카테고리</option>
              <option value="tech">테크·가전</option>
              <option value="fashion">패션·잡화</option>
              <option value="beauty">뷰티</option>
              <option value="food">푸드</option>
              <option value="living">홈리빙</option>
            </select>
          <button class="button button1"><i class="fa fa-search"></i></button>
        </div>
      </form>
  </div>
  <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
  </div>
</header>

<!-- Service Section -->
<div class="w3-container" style="padding:128px 16px" id="about">
  <h3 class="w3-center">ABOUT SERVICES</h3>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-third">
      <i class="fa fa-check w3-margin-bottom w3-jumbo w3-center" onclick="document.getElementById('Info').style.display='block'" data-toggle="modal" data-target="#myModal" class="w3-hover-opacity" ></i>
      <p class="w3-large">Info</p>
    </div>
    <div class="w3-third">
      <a href="service" style="text-decoration:none">
        <i class="fa fa-check w3-margin-bottom w3-jumbo w3-center"></i></a>
      <p class="w3-large">Service</p>
    </div>
    <div class="w3-third">
      <a href="#team" style="text-decoration:none">
        <i class="fa fa-check w3-margin-bottom w3-jumbo w3-center" class="w3-hover-opacity"></i>
        <p class="w3-large">Team</p>
      </a>
    </div>
  </div>
</div>

<!-- Modal for full size images on click-->
<div id="Info" class="w3-modal w3-black" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-card-8 w3-animate-zoom w3-text-black">
    <header class="w3-container w3-text-black">
      <span onclick="document.getElementById('Info').style.display='none'" class="w3-closebtn w3-padding-top" style="float: right;">&times;</span>
    </header>
    <div class="w3-container" style="text-align:center; max-width:fit-content;">
      <p>
          <h2 class="w3-text-blue-gray"><b>크라우드 펀딩 사이트 내 커뮤니티 글이 <br>펀딩 성공여부에 미치는 영향 분석</b></h2>
            <h4><b>본 프로젝트에서는 크라우드 펀딩 사이트인 와디즈에 게시된 프로젝트의 커뮤니티 글을 감성 분석한다.</b></h4>
            <img src="./static/img/info01.png" style="width:90%">
            <p>인터넷과 같은 플랫폼을 통해 다수의 개인들로부터 자금을 모으는 크라우드 펀딩은 투자자들의 반응을 분석하는 것이 중요하다.</p>
            <p>사용자는 브라우저에서 진행하고자 하는 프로젝트의 카테고리를 선택하여 해당 프로젝트 진행 시<br>성공률 및 긍정, 부정과 같은 리뷰어들의 반응을 시각화한 자료를 확인할 수 있으며 관련 분석 자료를 제공받는다.</p>
            <p>본 프로젝트를 통해 후원자의 긍정 및 부정 반응을 도출하여 프로젝트의 성공 확률을 높일 수 있을 것으로 예상된다.</p>
      </div>
  <div class="w3-container" style="left">
    <h3 class="w3-text-blue-gray"><b>▣ 시각화 방법</b></h3>
    <p>긍정, 부정과 같은 리뷰어들의 반응을 시각화한 자료로써 다양한 그래프를 제공한다.</p>
    <img src="./static/img/visualize.png" style="width:90%">
  </div>
  <div class="w3-container" style="left">
    <h3 class="w3-text-blue-gray"><b>&nbsp;&nbsp;&nbsp;▣ 진행 방법</b></h3>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(1)
      <a href="https://github.com/SolbiChoi/TeamProject/tree/master/Scraping#readme" title="스크래핑 방법">스크래핑</a><br></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2)
      <a href="https://github.com/SolbiChoi/TeamProject/tree/master/DeepLearning#readme" title="스크래핑 방법">머신러닝</a></p>
    </div>
    <div class="w3-container w3-padding"></div>
  </div>
</div>

<div id="Service" class="w3-modal w3-black" onclick="this.style.display='none'">
</div>

<!-- Team Section -->
<div class="w3-container" style="padding:128px 16px" id="team">
  <h3 class="w3-center">THE TEAM</h3>
  <p class="w3-center w3-large">The ones who runs this team</p>
  <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <div class="w3-container w3-center">
          <h3>Choi, SolBi</h3>
          <p class="w3-opacity">Team Leader</p>
          <p>프로젝트 총괄 및 딥러닝</p>
          <p><button class="w3-button w3-light-grey w3-block" onclick="location.href='https://github.com/SolbiChoi'" target="_blank"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <div class="w3-container w3-center">
          <h3>Shin, ChaeWon</h3>
          <p class="w3-opacity">Team Member</p>
          <p>스크래핑 작업</p>
          <p><button class="w3-button w3-light-grey w3-block" onclick="location.href='https://github.com/kaya1436'" target="_blank"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <div class="w3-container w3-center">
          <h3>Kim, HaYoung</h3>
          <p class="w3-opacity">Team Member</p>
          <p>머신러닝 작업</p>
          <p><button class="w3-button w3-light-grey w3-block" onclick="location.href='https://github.com/young-ha713'" target="_blank"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <div class="w3-container w3-center">
          <h3>Park, GunUk</h3>
          <p class="w3-opacity">Team Member</p>
          <p>HTML 웹 구현</p>
          <p><button class="w3-button w3-light-grey w3-block" onclick="location.href='https://github.com/sxzcad'" target="_blank"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

<script>
// Modal Image Gallery
var modal = document.getElementById('Info');
var modal = document.getElementById('Service');
window.onclick = function(event) {
        if (event.target == modal) {modal.style.display = "none";} }

// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>

</body>
</html>