<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src='https://cdn.plot.ly/plotly-2.3.1.min.js'></script>

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

.w3-bar .w3-button {
  padding: 16px;
}

</style>
<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="main_home" class="w3-bar-item w3-button w3-wide"><i class="fa fa-arrow-left w3-margin-middle"></i>MAIN</a>
    <!-- Middle-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a class="w3-bar-item w3-button w3-wide">전체 카테고리</a>
    </div>
    </a>
  </div>
</div>

<div class="w3-container" style="padding:128px 16px" id="bar">
  <h3 class="w3-center">카테고리별 별점 분포(100% stacked Barh graph)</h3>
    <div id='overview_stacked'><!-- Plotly chart will be drawn inside this DIV -->
      <script>
        var trace1 = {
          x: {{ x_group_1 | safe }},
          y: {{ y_group_ov | safe }},
          name: '☆☆☆☆★',
          orientation: 'h',
          marker: {
            color: 'lightslategray',
            width: 1
          },
          type: 'bar'
        };

        var trace2 = {
          x: {{ x_group_2 | safe }},
          y: {{ y_group_ov | safe }},
          name: '☆☆☆★★',
          orientation: 'h',
          type: 'bar',
          marker: {
            color: 'darkblue',
            width: 1
          }
        };

        var trace3 = {
          x: {{ x_group_3 | safe }},
          y: {{ y_group_ov | safe }},
          name: '☆☆★★★',
          orientation: 'h',
          type: 'bar',
          marker: {
            color: 'royalblue',
            width: 1
          }
        };

        var trace4 = {
          x: {{ x_group_4 | safe }},
          y: {{ y_group_ov | safe }},
          name: '☆★★★★',
          orientation: 'h',
          type: 'bar',
          marker: {
            color: 'skyblue',
            width: 1
          }
        };

        var trace5 = {
          x: {{ x_group_5 | safe }},
          y: {{ y_group_ov | safe }},
          name: '★★★★★',
          orientation: 'h',
          type: 'bar',
          marker: {
            color: 'lightcyan',
            width: 1
          }
        };

        var data = [trace1, trace2, trace3, trace4, trace5];

        var layout = {
          title: 'Overview of Rate by all category',
          barmode: 'stack'
        };

        Plotly.newPlot('overview_stacked', data, layout);
      </script>
    </div>
</div>

<div class="w3-container" style="padding:128px 16px" id="pie">
  <h3 class="w3-center">긍정,부정 %(Pie graph)</h3>
  <div id='pie_chart_total' style="width:90%"></div>
        <script>
        var data = [{
          type: "pie",
          labels: {{ labels_total | safe }},
          values: {{ values_total | safe }},
        }];

        var layout = {
          title: '리뷰의 긍정 및 부정 반응',
          height: 500,
          width: 500
        };
        Plotly.newPlot('pie_chart_total', data, layout);
      </script>
  </div>


  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-grey w3-padding-64">
  <a href="#bar" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

<script>

// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>
</body>
</html>